{% extends 'base.html' %}
{% block content %}

<div class="container mt-5">
 <div style="background-color: darkblue;margin:0;height:100vh;">
 <h1 class="highlight_text" style="color:blue;">Please enter the details</h1>

    <br><br><br> 
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card p-4 shadow-sm">
                <h3 class="text-center mb-3"></h3>
                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'error' %}
                            <div class="alert alert-danger">{{message}}</div>
                        {% else %}
                             <div class="alert alert-{{message.tags}}">{{ message }}</div>
                        {% endif %}
                    {% endfor %}
                {% endif %}


                <form method="POST">
                    {% csrf_token %}
                
                    <div class="form-group mb-3">
                        <label>PIN</label>
                        <input type="password" class="form-control" name="pin" placeholder="Enter the pin" required>
                    </div>
                    <div style="display:flex;gap:50px;">
                    <button type="submit" class="btn btn-primary w-100">Done</button><br><br>
                    <a href="{% url 'home' %}" class="btn btn-primary w-100">Exit</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
 </div>
</div>

{% endblock %}